@font-face {
  font-family: "Hancom Malang";
  font-weight: 400;
  src: url("/fonts/HancomMalangMalang-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Hancom Malang";
  font-weight: 700;
  src: url("/fonts/HancomMalangMalang-Bold.ttf") format(truetype);
}

:root {
  --color-green: #d8eac1;
  --color-darkgreen: #234E2C;
  --color-pink: #EA7170;
  --color-white: #ffffff;
  --color-skyblue: #5391cd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-green);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor:pointer;
}

/* Screen Reader only */
.sr-only {
  clip: rect(0 0 0 0);
  border: 0;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}